$black: #000;
$white: #fffffc;
$white-transition: #fffffccc;
$very-light-grey: #f9faf9;

$primary-color: #fca05e;
$primary-light: #ffd5b7;
$primary-very-light: #fdf5e8;
$primary-dark: #ff8c39;
$primary-very-dark: #e37b47;

$green: #d6f0e3;
$green-light: #e4f8ee;
$green-very-light: #f2faf6;
$green-dark: #c1ead5;
$green-very-dark: #128961;

$blue: #d0edff;
$blue-light: #def2fe;
$blue-very-light: #f2faff;
$blue-dark: #90b9de;
$blue-very-dark: #5d99c5;

$yellow: #fcdb81;
$yellow-light: #fbe5a9;
$yellow-very-light: #fff6dc;
$yellow-dark: #fbce54;
$yellow-very-dark: #fec73a;

$red: #f97777;
$red-light: #fbaaaa;
$red-very-light: #ffe0dc;
$red-dark: #ea5757;
$red-very-dark: #ff4d4f;

$primary-text: #1e372d;
$secondary-text: #9ca8ac;
$secondary-dark-text: #717e83;
$secondary-light-text: #cfd7d9;
$secondary-very-light-text: #f0f3f4;

$orange-dark: #fec73a;

$menu-bg: #113536;
$menu-list-bg-hover: $primary-very-light;

$light-tertiary-600: #b1e1c9;
$light-tertiary-700: #40af7e;
$light-tertiary-800: #128961;
$light-tertiary-900: #0a6949;

$light-warning-500: #fec73a;
$light-warning-600: #dbaa00;
$light-warning-700: #c1b691;

$light-error-500: #ea5757;
$light-error-600: #c64747;
$light-error-700: #a23737;

$light-text-300: #bdc8c8;
$light-text-400: #9cacac;
$light-text-500: #829293;
$light-text-1000: #1e372d;

$light-secondary-0: #f2faff;
$light-secondary-100: #def2fe;
$light-secondary-200: #d0edff;
$light-secondary-300: #bce2fe;
$light-secondary-500: #90b9de;

$light-primary-0: #fff9f4;
$light-primary-400: #fdb27c;
$light-primary-500: #fca05e;
$light-primary-600: #ef904c;

$shadow-color: #dbf0e7;
