@import "assets/scss/colors.scss";

.sidebar__list__item {
  background-color: $white;
  color: $black;

  &.sidebar__list__item_selected {
    color: $white;
    background-color: $black;

    li {
      width: 100%;
      position: relative;
      background: $black;
    }
  }
}
