@import "assets/scss/colors.scss";

.sidebar {
  background: $menu-bg;
  height: 100vh;
  width: 100%;
  padding: 70px 0;
  border-top-right-radius: 32px;

  .sidebar__logo {
    display: block;
    width: 160px;
    height: 60px;
    margin: 0 25px 50px;
  }

  .sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 15px 24px;
      gap: 5px;

      &:hover {
        background: $menu-list-bg-hover;
      }
    }
  }
}
