html,
body {
  min-width: 100%;
  min-height: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  min-height: 70vh;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
